.Button {

  &__List {
    @mixin --layout-center-between;
    width: 90%;
    margin: 0 auto;
  }

  &__Item a {
    display: block;
    color: #0cb39a;
    width: 200px;
    height: 200px;
    border: double 4px #0cb39a;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    transition: transform 0.6s;
    line-height: 200px;
    font-size: $size-font-small;

    &:hover {
      transform: rotateY(360deg);
    }
  }
}