.Root {
  &__Title {
    margin: 3rem 0;
    padding-left: 3rem;
    font-weight: bold;
    font-size: $size-font-xxlarge;
  }

  &__SubTitle {
    font-size: $size-font-xlarge;
    padding: 3rem 0;
    color: #fff;
  }

  &__MainVisual {
    img {
      width: 100%;
      vertical-align: bottom;
    }
  }

  &__Block {
    min-height: 500px;
    max-width: 100%;
    width: 950px;
    margin: 0 auto;
    text-align: center;
  }

  &__Content {
    background-color: #000;
  }

  &__List {
    @mixin --layout-center-start;
    flex-wrap: wrap;
    margin-bottom: 7.8rem;

    .ListItem {
      width: 30%;

      &:not(:nth-child(3n)) {
        margin-right: 5%;
      }

      &:nth-child(n+4) {
        margin-top: 5%;
      }
    }
  }

  &__Parallax {
    width: 100%;
    height: 100%;
    min-height: 500px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    &--pattern1 {
      background-image: url(./img/cat_1.jpg);
    }

    &--pattern2 {
      background-image: url(./img/cat_2.jpg);
    }
  }

  &__BackgroundMask {
    height: 100%;
    min-height: 500px;
    background: rgba(255,255,255,0.5);
  }

  &__Buttons {
    @mixin --layout-center-between;
    width: 90%;
    margin: 0 auto;
  }
}