.Calculator {
  width: 100%;

  &__Row {
    @mixin --layout-start-start;
  }

  &__Row:not(last-child) {
    margin-bottom: 1rem;
  }

  &__Result {
    width: $calculator-tile-result;
    max-width: 100%;
  }

  &__ResultInner {
    width: -webkit-fill-available;
    display: inline-block;
    margin: 2rem 0;
    padding: 2rem;
    border: 1px solid $color-border-light-gray;
    text-align: right;
  }

  &__Button {
    width: 80px;
    height: 40px;
  }

  &__Button:not(last-child) {
    margin-right: 1rem;
  }
}