/* font-sizeに関する変数群 */
$size-font-maxlarge: 4.6rem;
$size-font-xxxxlarge: 2.4rem;
$size-font-xxxlarge: 2.2rem;
$size-font-xxlarge: 2rem;
$size-font-xlarge: 1.8rem;
$size-font-large: 1.6rem;
$size-font-medium: 1.4rem;
$size-font-small: 1.2rem;
$size-font-xsmall: 1rem;