.Page3 {
  &__Title {
    margin: 3rem 0;
    padding-left: 3rem;
    font-weight: bold;
    font-size: $size-font-xlarge;
  }

  /* &__SubTitle {
    padding: 2rem 0 2rem 1rem;
    color: #fff;
    background-color: #9ae39e;
    font-size: $size-font-large;
  } */

  &__Content {
    margin: 3.6rem 0;
    padding-left: 3rem;
  }
}